[submodule "Powershell-Modules"]
	path = Powershell-Modules
	url = https://github.com/PostWarTacos/Powershell-Modules.git
[submodule "PowerShellProfile"]
	path = PowerShellProfile
	url = https://github.com/PostWarTacos/PowerShellProfile.git
